<ion-header id="menuDrawer" [translucent]="true" #menuDrawer >
  <ion-toolbar style="--background:#FF8E25">
    <ion-title text-capitalize> {{titulo}}</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="onClick()"><ion-icon name="menu" slot="icon-only"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>