<app-header></app-header>
<app-menu></app-menu>
<ion-content>
  <ion-slides [options]="swiperOpts">
    <ion-slide>
      <ion-button expand="full"
                  fill="outline"
                  size="large"
                  shape="round"
                  (click)="scan()">
      SCANCODE
      </ion-button>
    </ion-slide>
  </ion-slides>
</ion-content>
