#map {
    width: 100% !important;
    height: 100% !important;
    background-color: #f6f6f4;
}

.boton-regresar {
    position: fixed;
    top: 45px;
    right: 13px;
    font-size: 23px !important;
}
.mapa {
    width: 100% !important;
    height: 25px !important;
    text-align: center;
    background-color: orange;
}