<!-- <app-header titulo="Mapa Sena Km 10 vía Magdalena"></app-header> -->
<ion-content>
  <h4 class="mapa">Mapa Sena Km 10 vía Mag</h4>
  <div id='map'></div>
  <ion-back-button defaultHref="/ofertas"
                  text =" "
                  class="boton-regresar"
                  icon="close-circle"></ion-back-button>
  
</ion-content>
<!-- <app-menu></app-menu> -->