<app-header titulo="Favoritos"></app-header>
<div class="row">

<ion-toolbar class="columna">
  <ion-searchbar animated (ionChange)="buscar($event)"></ion-searchbar>
</ion-toolbar>
<ion-toolbar class="columnan">
  <ion-buttons class="correo" slot="end">
    <ion-button (click)="perpararfavoritos()"
                color="primary">
         <ion-icon name="send" slot="icon-only"></ion-icon>      
    </ion-button>
  </ion-buttons>
</ion-toolbar>
</div>


<ion-content>

 
 <ion-list #lista >
      
     <ion-item-sliding *ngFor="let dato of  addFavorito | filtroSegmento: tipo:'tipo' | filtro: textoBuscar " >
      
      <div *ngIf=""></div>
      <ion-item >
                  
        <ion-avatar slot="start">
                    <img src="{{dato.img}}">
        </ion-avatar>   
        <ion-label>
          
          <h2>{{ dato.title }}</h2>
          <p>
            {{ dato.descripcion}}
          </p>
          <h3>
            {{ dato.url}}
          </h3>
        </ion-label>
        
        <div class="formacion-more">
          <ion-button fill="clear" (click)="lanzarMenufav(dato.title, dato.descripcion,dato.url,dato.id,dato.img)">
          <ion-icon name="more" slot="icon-only" color="primary"></ion-icon>
          </ion-button>
        </div>
        
  
      </ion-item>


      <!-- <ion-item-options side="end"   >
        <ion-item-option color="secondary" (click)="share(dato.url)">
          <ion-icon slot="icon-only" name="share"></ion-icon>
        </ion-item-option>

        <ion-item-option color="primary" (click)=" borrar(dato.title,dato.descripcion,dato.img,dato.id, dato.url)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>

        
      
      </ion-item-options> -->
 
     </ion-item-sliding>
  </ion-list>


</ion-content>
<app-menu></app-menu>
